<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>813718562844-h7p3ij34a2ut55gucr300tf26f5lq2fj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.813718562844-h7p3ij34a2ut55gucr300tf26f5lq2fj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>813718562844-u2c247m24tlfr4mma6vgrjj11ufv19uf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAqnzoRazRA9KghAmpHgstSe40ltdZ3-60</string>
	<key>GCM_SENDER_ID</key>
	<string>813718562844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.telegraph</string>
	<key>PROJECT_ID</key>
	<string>telegraph-b0c5f</string>
	<key>STORAGE_BUCKET</key>
	<string>telegraph-b0c5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813718562844:ios:119509a0feed034a1317d9</string>
</dict>
</plist>